/*
 * (C)opyright Solocal Group 2014-2015
 *
 * This is Solocal Group proprietary source code.
 * Any reproduction modification or use without prior written
 * approval from Solocal Group is strictly forbidden.
 *
 */
@import 'design.css';           /* From BaseT00X_RD */
@import 'styles.css';           /* From BaseT00X_RD */

/*********************************/
/*t004*/
/*********************************/
body{background-color: #FFF;background-repeat: no-repeat;display:block;height:auto;}  /* no sticky footer */

/*********************************/
/*header*/
/*********************************/
header{background-image:none!important; background-color:transparent!important;display:block;height:auto;} /* Background is on body - cancel it on header */


/*********************************/
/*slider*/
/*********************************/
.component.slider {max-width:1000px; margin:auto;}
.component.slider .visual-item{width:100%/* Stretch existing images... */}
.component.slider>.item-container>.item .content {width: 230px;bottom:5%;max-height:90%}

/*********************************/
/*main*/
/*********************************/
#uber-content{box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); background:#FFF; max-width:1000px; margin:auto;display:block}

#main-content{display:table; table-layout:fixed; width: 100%; margin-top:0; padding: 40px 0 0}
#main-content>section{width: 100%; padding: 0 20px}
#main-content>aside {width:250px; padding: 0 20px}
#mobile-aside{padding-left: 20px; padding-right: 20px}
.home-page #main-content>section{padding: 0}
#main-content>section,
#main-content>aside {display:table-cell}
#main-content>section + aside,
#main-content>aside + section {border-left: 1px solid #D34D49}

.horizontal_layout.blocks >.item-container >.item-first{border-left:none;}



@media  screen and (min-width:480px){
#main-content .component.horizontal_layout.default_view.blocks{margin-bottom:0;}
}


/*********************************/
/*blocks*/
/*********************************/
.horizontal_layout.blocks > .item-container.slots-3 > .item{ width:25%}
.horizontal_layout.blocks > .item-container.slots-3 > .item-first{ width:50%}
.blocks .title {font-size:20px;}

/*********************************/
/*footer*/
/*********************************/

.horizontal_layout.default_view >.item-container.slots-1 >.item.item-1 .social-and-publisher{border:none;}
footer{display:block;height:auto}


@media screen and (min-width:769px){

/*********************************/
/*nav*/
/*********************************/
.component.main-menu{background-color:#D34D49; max-width: 1000px;margin: auto;}
.component.main-menu>.item-container {max-width: 1000px;margin: auto;padding:0;height:71px;display:table;table-layout:fixed;width:100%}
.component.main-menu .item-container .item-container { z-index:200; position:absolute;left:-1px; right: -1px; top:100%;padding-left:0}
.component.main-menu>.item-container>.item{display:table-cell;position:relative;vertical-align:middle;text-align:center;cursor:pointer;padding:0 10px}
.browser-msie .component.main-menu>.item-container>.item{display:table;height: 100%;float: left;table-layout: fixed}
.component.main-menu>.item-container>.item.active{background-color: #FFF; color:#1B6F06}
.component.main-menu>.item-container>.item:hover{background:#FFF;color:#1B6F06}
.component.main-menu>.item-container>.item:hover>a{color:#1B6F06}
.component.main-menu>.item-container>.item>a.menu-link {font-size: 18px;width:100%;display:inline;vertical-align:middle;text-decoration:none; line-height:18px}
.browser-msie .component.main-menu>.item-container>.item>a.menu-link {display:table-cell}
.component.main-menu>.item-container>.item>a.menu-link:hover {color:#1B6F06; text-decoration:none;}
.component.main-menu .item-container .item-container .item{display:block;width:100%;background:#FFF; border-width:0 1px 1px 1px; border-style:solid; border-color:#D34D49;text-align:center; padding:5px 0;}
.component.main-menu .item-container .item-container .item a{text-align:left; font-size:14px; text-decoration:none; padding:0 5px 0 15px;}
.component.main-menu .item-container .item-container .item a:hover{color:#1B6F06; text-decoration:none;}
.component.main-menu .item-container .item a {font-weight:normal;}
.component.main-menu .item-container .item.active>a{color:#1B6F06; font-weight:normal;}
.component.main-menu>.item-container.slots-1>.item{width:100%}
.component.main-menu>.item-container.slots-2>.item{width:50%}
.component.main-menu>.item-container.slots-3>.item{width:33.33%}
.component.main-menu>.item-container.slots-4>.item{width:25%}
.component.main-menu>.item-container.slots-5>.item{width:20%}
.component.main-menu>.item-container.slots-6>.item{width:16.66%}
.component.main-menu>.item-container.slots-7>.item{width:14.28%}
.component.main-menu>.item-container.slots-8>.item{width:12.5%}
.component.main-menu>.item-container.slots-9>.item{width:11.11%}
.component.main-menu>.item-container.slots-10>.item{width:10%}
}

/*********************************/
/*contact form*/
/*********************************/
.component.contact.contact_form_view{background-color: #f0f0f0;padding: 4.5% 15.5% 4.5% 4.5%}

/*********************************/
/* selector */
/*********************************/
.point_of_sale_selector .selector{width: 100%;}

/* **** */
/* CART */
/* **** */

.component.cart .cart-header .top-nav {
    margin-top: -40px;  /* same as the #main-content top margin/padding */
}

/* Steps title bar */
.component.cart .title-bar .title {
    padding-right: 30px;
}

.component.cart .title-bar .steps {
    margin: 0;
    display: inline-block;
}


/*==============================================================================================================*/
@media screen and (max-width:768px){
    header{padding-bottom:0}

    #main-content{margin-bottom:20px; width:100%;}
    #main-content>section{border-right:none}

    .horizontal_layout.blocks > .item-container.slots-3 > .item{ width:33%}
    .horizontal_layout.blocks > .item-container.slots-3 > .item-first{ width:33%}
    .component.contact.contact_form_view{padding: 4%}
}

@media screen and (max-width:480px){
    #main-content{display:block}
    #main-content > section{display:block}
    .home-page #main-content>section{padding: 0 20px}

    .horizontal_layout.blocks > .item-container.slots-3 > .item{ width:100%}
    .horizontal_layout.blocks > .item-container.slots-3 > .item-first{ width:100%}

    .component.slider>.item-container>.item .content {width: 100%;}

    .component.contact.contact_form_view{padding: 20px 20px;margin-left:-20px;margin-right:-20px}
}